/* Light mode */
body {
    background-image: linear-gradient(to top, #8b8299, #e4e5e6);
    font-family: 'Source Code Pro', monospace;
}

.container {
    background-image: linear-gradient(to bottom, #e4e5e6, white, #8b8299);
}

.card-content {
    background-color: lightgrey;
}

.card {
    box-shadow: 5px 10px 20px;
}

.link {
    color: black;
}

/* Stuff that doesn't change */
h3 {
    margin-left: 2vw;
}
.project-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.project-title {
    font-size: large;
}

.close-btn {
    font-size: x-small;
}

.project-blurb {
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
}

.tech-list-heading {
    margin-top: 5vh;
}

#intro-tech {
    margin-left: 2vw;
}

#current-projects {
    margin-left: 1vw;
}

#it-me {
    margin-left: 2vw;
    width: 30vw;
    box-shadow: 5px 10px 20px;
}

#return {
    margin-left: 2vw;
    box-shadow: 2px 2px 5px;
}

#github, #linkedin, #email {
    height: 10vh
}

#social {
    margin-left: 5vw;
}

@media only screen and (max-width: 600px) {
    #social {
        margin: 0 auto
    }
    
    .tech-list-heading, .description {
        display: none
    }
}







